pelican
markdown
pelican-jinja2content
pelican-more-categories
pelican-neighbors
pelican-series
pelican-sitemap
pelican-seo
babel
python-gettext
i18n
pymdown-extensions
pygments
git+https://github.com/max-arnold/markdown-tweetable
git+https://github.com/vlajna95/markdown-customblocks
git+https://github.com/vlajna95/mdx-tablespan
git+https://github.com/vlajna95/mdx-include-lines
markdown-include