{% extends "base.html" %}
{% block title %}{{ SITENAME }} :: {{ article.title }}{% endblock %}

{% block content %}
<div id="content">
<article class="post">
<h1 class="title">{{ article.title }}</h1>
{% import "article_info.html" as article_info with context %}
{{ article_info.info(article) }}
<div style="clear: both;">&nbsp;</div>
<div class="entry">
{{ article.content }}
{% include 'twitter.html' %}
</div><hr />
<div class="post-navigation">
{% if article.prev_article_in_category or article.next_article_in_category %}
<h3>{{ gettext("Navigacija po člancima") }}</h3>
{% endif %}
{% if article.prev_article_in_category %}
<p><a href="{{ SITEURL }}/{{ article.prev_article_in_category.url }}" title="{{ gettext("Prethodni članak") }}: {{ article.prev_article_in_category.title }}">← {{ article.prev_article_in_category.title }}</a></p>
{% endif %}
{% if article.next_article_in_category %}
<p><a href="{{ SITEURL }}/{{ article.next_article_in_category.url }}" title="{{ gettext("Sledeći članak") }}: {{ article.next_article_in_category.title }}">→ {{ article.next_article_in_category.title }}</a></p>
{% endif %}
</div>
</article>

<div style="clear: both;">&nbsp;</div>

{% if DISQUS_SITENAME %}
<div class="post">
<h2 class="title">Comments</h2>
<div id="disqus_thread"></div>
<script type="text/javascript">
var disqus_identifier = "{{ article.url }}";
(function() {
var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
</div>
{% endif %}

</div> <!-- end #content -->
{% endblock %}
