ul[role="menubar"] {
margin: 10px;
padding: 10px;
font-size: 110%;
list-style: none;
background-color: #111;
}
ul[role="menubar"] [role="menuitem"], ul[role="menubar"] [role="separator"] {
padding: 0.25em;
background-color: #111;
border: 2px solid #111;
}
ul[role="menubar"] [role="separator"] {
padding-top: 0.15em;
background-image: url('../img/separator.png');
background-position: center;
background-repeat: repeat-x;
}
ul[role="menubar"] [role="menuitem"]:focus, ul[role="menubar"] [role="menuitem"]:hover, ul[role="menubar"] [role="separator"]:focus, ul[role="menubar"] [role="separator"]:hover {
background-color: 2f2000;
color: white;
}
ul[role="menubar"] a[role="menuitem"] {
text-decoration: none;
color: lightseagreen;
}
ul[role="menubar"] li {
list-style: none;
margin: 0;
padding: 0;
}
ul[role="menubar"] > li {
display: inline;
position: relative;
}
ul[role="menubar"] > li > a::after {
content: url('../img/down-arrow-brown.png');
padding-left: 0.25em;
}
ul[role="menubar"] ul[role="menu"] {
display: none;
position: absolute;
top: -2px;
left: 0;
margin: 0;
padding: 0;
}
ul[role="menubar"] ul[role="menu"] li a {
display: block;
width: 10em;
}
ul[role="menubar"] ul[role="menu"] a[aria-haspopup="true"]::after {
content: url('../img/right-arrow-brown.png');
padding-right: 2em;
}
