{% if article.locale_modified and article.modified %}
{% set delta = (article.modified - article.date).days %}
{% if delta > 0 %}
<h4>{{ ARTICLE_LAST_UPDATED_LABEL }}</h4>
<time datetime="{{ article.modified.isoformat() }}">{{ article.locale_modified }}</time>{# (pre {{ delta }} dana) #}
{% endif %}
{% endif %}

{#  Check which version of Pelican is used. 
If it is <=3.3, modified is a string. 
If it is >3.3, modified is a datetime object. 
{% elif article.modified %}
<h4>{{ ARTICLE_LAST_UPDATED_LABEL }}</h4>
<div class="last-updated">{{ article.modified|strftime('{{ DEFAULT_DATE_FORMAT }}') }}</div>
{% endif %}
#}
