{% macro audio(url) %}
<audio src="{{ url }}" controls></audio>
{% endmacro %}

{% macro audio_example(mp3_url, ogg_url) %}<audio controls><source src="{{ mp3_url }}" /><source src="{{ ogg_url }}" /></audio>{% endmacro %}

{% macro audio_pronunciation(folder, filename) %}<audio controls><source src="/audio/{{ folder }}/mp3/{{ filename }}.mp3" /><source src="/audio/{{ folder }}/ogg/{{ filename }}.ogg" /></audio>{% endmacro %}

{% macro playlist(sources) %}
<audio id="audio" preload="auto" controls>
<source src="{{ sources[0][0] }}" />
</audio>
<ol id="playlist">
{% for source in sources %}
<li><a href="{{ source[0] }}">{{ source[1] }}</a></li>
{% endfor %}
</ol>

<script type="text/javascript">
var audio;
var playlist;
var tracks;
var current;
init();

function init() {
current = 0;
audio = $('#audio');
playlist = $('#playlist');
tracks = playlist.find('li a');
len = tracks.length - 1;
audio[0].volume = 1;
audio[0].play();
playlist.find('a').click(function(e) {
e.preventDefault();
link = $(this);
current = link.parent().index();
run(link, audio[0]);
});
audio[0].addEventListener('ended', function(e) {
current++;
if(current > len) {
current = 0;
link = playlist.find('a')[0];
}
else {
link = playlist.find('a')[current];
run($(link), audio[0]);
}
});
}

function run(link, player) {
player.src = link.attr('href');
par = link.parent();
par.addClass('active').siblings().removeClass('active');
audio[0].load();
audio[0].play();
}
</script>
{% endmacro %}

{% macro image(url, caption) %}
<figure>
<img src="{{ url }}" alt="{{ caption }}" />
<figcaption>{{ caption|safe }}</figcaption>
</figure>
{% endmacro %}

{% macro youtube(id, width="", height="") %}
<iframe src="https://www.youtube.com/embed/{{ id }}"
{% if width %} width="{{ width }}"{% endif %}
{% if height %} height="{{ height }}"{% endif %}" frameborder="0" allowfullscreen></iframe>
{% endmacro %}