{% extends "base.html" %}
{% block title %}{{ SITENAME }} :: {{ gettext("Arhiva") }}{% endblock %}

{% block content %}
{%- set years_month = {} -%}
{%- set months = {1: gettext('Januar'), 2: gettext('Februar'), 3: gettext('Mart'), 4: gettext('April'), 5: gettext('Maj'), 6: gettext('Jun'), 7: gettext('Jul'), 8: gettext('Avgust'), 9: gettext('Septembar'), 10: gettext('Oktobar'), 11: gettext('Novembar'), 12: gettext('Decembar')} -%}
{%- for article in dates -%}
{%- if article.date.year not in years_month -%}
{%- do years_month.update({article.date.year: [article.date.month]}) -%}
{%- else -%}
{%- if article.date.month not in years_month[article.date.year] -%}
{%- do years_month[article.date.year].append(article.date.month) -%}
{%- endif -%}
{%- endif -%}
{%- endfor %}

{% for year in years_month|sort(reverse=True) -%}
<h2 class="year">{{ year }}</h2>
<dl>
{% for month in years_month[year] -%}
<dt class="month">{{ months[month] }}</dt>
{% for article in dates -%}
{% if article.date.year == year and article.date.month == month -%}
<dd><span class="day">{{ article.locale_date.split()[1] }}</span> - <a href='{{ article.url }}'>{{ article.title }}</a></dd>
{%- endif %}
{%- endfor %}
{% endfor %}</dl>
{% endfor %}
{% endblock %}
