{% macro info(article) %}
<p class="meta">{{ article.locale_date }}</p>
<p class="meta">{{ gettext("Autor:") }} <a href="#">{{ article.author }}</a></p>
<p class="meta">{{ gettext("Vreme potrebno za čitanje") }}: {{ article.readtime.minutes }} min.</p>
<p class="meta">{{ gettext("Kategorije") }}: 
{% for cat in article.category.ancestors or [article.category] %}
<a href="{{ SITEURL }}/{{ cat.url }}">{{ cat.shortname or cat }}</a>{{ " / " if not loop.last }}
{% endfor %}
</p>
<p class="meta">{{ gettext("Oznake") }}: 
{% for tag in article.tags %}
<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{{ ", " if not loop.last }}
{% endfor %}
</p>
{% import 'translations.html' as translations with context %}
{{ translations.translations_for(article) }}
<hr />
{% endmacro %}
